
<div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-info"> 
          </span> Регистрация 
        </h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" [(ngModel)]="email" class="form-control"  required>
          </div>
          <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" name="password" [(ngModel)]="password" class="form-control" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" required>
          </div>
          <input type="submit" value="Регистрация" class="btn hren btn-block" *ngIf="!isLoading">
        </form>
        <div class="text-center pb-4 pt-3">
            <div class="spinner-border text-info text-center" role="status" *ngIf="isLoading">
                <span class="sr-only  ">Загрузка...</span>
              </div>
            </div>
      </div>
    </div>
  </div>
  