.dashed {
    border: dashed;   
    border-width: thin;
    border-radius: 20px;
    color: darkgray; 
}

.border-radius {
    border-radius: 20px;     
}

.hren {
    font-size: 0.7rem;

}

input { 
    border-width: 1px;

}

.card {
    background: linear-gradient(45deg, rgb(111, 133, 199), #C5DDE8);
    margin: 0.7rem;
    border-radius: 20px; 
}

.card2 {
    background-color:rgba(236, 217, 217, 0.938);
    margin: 0.7rem;
    border-style: dashed;
    border-radius: 20px; 
    opacity: 0.35;
}

.card3 {
    background-color: rgb(44, 240, 44);
    margin: 0.7rem;
    border-style: dashed;
    border-radius: 20px; 
    opacity: 0.8;
}

.buttonHey {
    background-color: rgb(33, 58, 135);
    color: white;
    ; }

.scaleHey:hover {
    transform: scale(1.05);
}

.scaleHey { transition: all .2s ease-in-out; }