<div (drop)="heyDrop($event,budget.id)" (dragover)="allowDrop($event,budgetItemInput.id)" draggable="true" (dragstart)="dragStartHey($event,budgetItemInput.id)" (dragleave)="dragLeaveHey($event)" (dragend)="dragEndHey($event)" (dragenter)="dragEnterHey($event)">
  <div class="d-flex flex-wrap "> 
    <div [ngClass]="cardClasses()"  style="width: 9rem;">
      <div *ngIf='isEdit' class="text-right mt-2 mr-2">
        <i  routerLink="/budget/edit/{{budget.id}}" class="fa fa-pencil " 
        aria-hidden="true"></i>
        <i (click)=deleteBudget(budgetItemInput.id) class="fa fa-times ml-2" aria-hidden="true"></i>
        <!-- <i class="ml-2 fa fa-exchange"  (click)="open(content)" aria-hidden="true"></i> -->
      </div>
      
      <div class="card-body text-center ">
        <h6 id='hren'  class="card-title">{{budget.name}}</h6>        
        <p class="card-text">{{budget.money | currency:budget.currency:"symbol-narrow"}}</p>
          <div class=" input-group input-group-sm ">
              <div class="input-group-prepend ">             
                </div>
                <form >          
                <input               
                #budgetItemInput  
                name={{budget.name}}
                id={{budget.id}}                
                type="number" 
                class="form-control"  
                aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                placeholder=0
                pattern="^[1-9]\d*$"  
                >    
                <div class='mt-3 ml-3'>
                  <button type='reset'
                  (click)=plusMoney(budgetItemInput.value,budgetItemInput.id,budgetItemInput.name)
                     class="btn mr-3 buttonHey"               
                     >+</button>
                </div>
              </form>  
          </div>   
      </div>
    </div>  
</div> 
</div>