  <nav class="navbar navbar-expand-md navbar-dark  mb-4 hren">
      <div class="container">
        <a routerLink="/" class="navbar-brand">
          Coin Project
        </a>
        <button class="navbar-toggler" type='button' data-toggle='collapse' data-target='#navbarMain'>
          <span class="navbar-toggler-icon"></span>      
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">         
          <ul class="navbar-nav ml-auto">
              <li *ngIf="isLoggedIn" class="nav-item">
                  <a routerLink="/" class="nav-link font-weight-bold">Главная</a>
                </li>
              <li *ngIf="isLoggedIn" class="nav-item">
                  <a routerLink="/budgets" class="nav-link">Доходы и счета</a>
                </li>
              <li *ngIf="isLoggedIn" class="nav-item">
                  <a routerLink="/categories" class="nav-link">Расходы</a>
                </li>
            <li *ngIf="!isLoggedIn " class="nav-item">
              <a routerLink="/register" class="nav-link">Регистрация</a>
            </li>
            <li *ngIf="!isLoggedIn " class="nav-item">
              <a routerLink="/login" class="nav-link">Вход</a>
            </li>
            <!-- <li *ngIf="isLoggedIn" class="nav-item">
              <a routerLink="/faq" class="nav-link">Guide</a>
            </li>            -->
              <li *ngIf="isLoggedIn" class="nav-item">
                  <a class="nav-link">{{loggedInUser}}</a>
                </li>              
            <li *ngIf="isLoggedIn" class="nav-item">
                <a routerLink="/login" (click)="onLogoutClick()" class="nav-link">Выход</a>
              </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link"> </a>
              </li>

              <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link usd font-weight-bold">USD {{calculateUSD()}}</a>
              </li>
            <li *ngIf="isLoggedIn" class="nav-item eur">
                <a class="nav-link eur font-weight-bold">EUR {{calculateEUR()}}</a>
              </li>
          </ul> 
         </div>
      </div>
    </nav>