<h2 class="text-center">Изменить счет</h2>
<div class="ml-3 mr-3">
<form (ngSubmit)='editBudget(f)' #f="ngForm" *ngIf="budget">

    <div class="form-group">
      <label class="font-weight-bold" for="fullname">Имя счета</label>
      <input type="text"
              [ngClass]="{'is-invalid': fullNameInput.errors && fullNameInput.touched}"
              [(ngModel)]="budget.name"
              name="name"
             class="form-control"
             id="fullname"
             #fullNameInput = "ngModel"
             required>
      <div [hidden]="!fullNameInput.errors?.required" class="invalid-feedback">Введите корректное имя!</div>
    </div>

    <div class="form-group">
      <label class="font-weight-bold" for="money">Сумма</label>
      <input type="number"
              [ngClass]="{'is-invalid': fullNameMoney.errors && fullNameMoney.touched}"
              [(ngModel)]="budget.money"
              name="money"
             class="form-control"
             id="money"
             #fullNameMoney = "ngModel"
             required>
      <div [hidden]="!fullNameMoney.errors?.required" class="invalid-feedback">Введите число</div>
    </div>

    <div class="form-group">
      <label class="font-weight-bold" for="currency">Валюта</label>
      <select 
              #selectedCurrency
              type="text"
              name="currency"
             class="form-control"
             id="currency"
             required
             [(ngModel)]='budget.currency'
             >
            
             <option *ngFor="let currency of currencies">
               {{currency}}
             </option>
             </select>
    </div>
    <button type="submit" [disabled]='f.invalid' class="btn btn-success mt-4 mb-3">Сохранить</button>
    <button (click)='goBack()' type='button' class="btn btn-warning mt-4 mb-3 ml-1">Назад</button>
   </form> 

</div>



