.dashed {
    border: dashed;   
    border-width: thin;
    border-radius: 20px;
    color: darkgray; 
}

.border-radius {
    border-radius: 20px;     
}

.hren {
    font-size: 0.7rem;
}

input {
    background-color: white;   
    border-width: 1px;
}

img {
  border-radius: 50%;
  border-color: blue
}

.fa {
    cursor: pointer;
}

.hrenota {   
    background: linear-gradient(45deg, rgb(111, 133, 199), #C5DDE8);
}


.buttonHey {
    background-color: rgb(33, 58, 135);
    color: white;
    ; }

