    <div (drop)="heyDrop($event)" (dragover)="allowDrop($event)" class="m-3 ">      
      <div class="card border-radius hrenota" style="width: 16rem;">        
        <div class="card-body  text-center">
          <div *ngIf='isEdit' class="text-right">
              <i  routerLink="/category/edit/{{category.id}}" class="fa fa-pencil" 
              aria-hidden="true"></i><i (click)=deleteCategory() class="fa fa-times ml-2" aria-hidden="true"></i> <br>
          </div>         
            <img width="100px" height="100px" src={{category.photoURL||photoUrl}} class="card-img-center mb-2" alt="...">
            <div class="d-flex flex-row-reverse bd-highlight">
                           
            </div>
          <h5 class="card-title">{{category.name}}</h5>
          <p class="card-text">{{category.money | currency:'RUB':"symbol-narrow"}}</p>
          <div class="container">
              <div class="row">
                <div class="col-8">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">            
                          </div>
                          <input 
                          #inputValue                          
                          type="number" 
                          class="form-control hren"
                           aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm"
                            placeholder="Введите сумму: ">                 
                        </div> 
                        <div class="input-group">
                            <div class="input-group-prepend">    
                            </div>
                            <select 
                            #selectedCategory
                            class="custom-select hren" 
                            id={{category.id}}>   
                              <option                                         
                               *ngFor="let budget of budgets">{{budget.name}}</option>
                             </select>
                          </div>
              </div>              
                <div class="col-1 mt-2 ">               
                    <button type='reset' (click)=addSum(selectedCategory.id,inputValue.value,selectedCategory.value) class="btn buttonHey ">+</button>  
                 
                </div>   
                               
              </div>        
        </div>
        <p><br> <ngb-progressbar *ngIf="category.moneyLimit>0" showValue="true"  class='' [type]='getCurrentType()' [value]="currentLimit()"></ngb-progressbar></p>
          </div>
      </div>
    </div>
  

