    <div class="m-3 ">
      <div class="card ma-3  " style="width: 14rem;">
        <img width="100px" height="200px" src={{category.img}} class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">{{category.name}}</h5>
          <p class="card-text">{{category.money | currency}}</p>
          <div class="container">
              <div class="row">
                <div class="col-9">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">             
                          </div>
                          <input type="number" 
                          class="form-control"
                           aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm"
                            placeholder="Enter a sum: ">                 
                        </div> 
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">          
                            </div>
                            <select class="custom-select" id="budget.id">   
                              <option *ngFor="let budget of budgets">{{budget.name}}</option>
                             </select>
                          </div>
                </div>
                <div class="col-1">
                    <br>
                    <a href="#" class="btn btn-primary ">+</a>  
                </div>
              </div>         
        </div>
        <div class="progress">
            <div class="progress-bar w-25" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          </div>
      </div>
    </div>
  
